.bg-gradient-light {
    background-image: linear-gradient(to right,white, lightblue, darkblue);
    text-align: center;
    color: whitesmoke;
    border-radius: 20px;
    -webkit-text-stroke: 2px black;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 5px;
    background: url(./img/weatherBG.jpeg) no-repeat center center/cover;
}

main {
    display: flex;
}

section {
    margin-top: 10px;
}

.header {
    display: flex;
    justify-content: center;
}


/* body {
}

.navbar>.container, .navbar>.container-fluid  {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar {
    background-image: linear-gradient(to right, #4682B4, #191970);
    color: ghostwhite;
    font-weight: bolder;
    min-width: 100vw;
    min-height: 8vh;
} */

aside {
    background-color: #044f97;
    border-radius: 15px;
    border: 1px solid #023362;
}
/* .search-panel {
    width: 25%;
    margin: 10px 20px 0 20px;
    padding: z0px 0 20px 10px;
    background-color: #DCDCDC;
}

.search-button-panel {
    margin-left: -52px;
} */


.form-control {
    width: 20vw;
}

.card-body {
    text-align: center;
    background-color: lightblue;
}


.card-header {
    background-color: blue;
    color: white;
}

.card-body {
    background-color: lightblue;
    
}
.card-container {
    /* position: relative;
    display:inline-block; */
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.card {
    padding-top: 50px;
}
.current-conditions {
    border: 1px solid #C0C0C0;
    border-right: none;
    padding-left: 10px;
    padding-bottom: 30px;
}
.current-results {
    width: 75%;
    padding-bottom: 10px;
    visibility: hidden;
    
   
}

.pervious-cities {
    border-top: 3px solid dimgray;
    padding: 4px;
}

main {
    display: flex;
}

.col {
    max-width: 15vw;
    height: 10vh;
    display: inline-block;
}